---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import HeaderCard from '../components/HeaderCard.astro';
import { projects } from "../projects/projects.json"
import TechStack from '../components/TechStack.astro';
import ProjectsBarHome from '../components/ProjectsBarHome';
import Footer from '../components/Footer.astro';


---
<style>
  .styled{
    color: brown;
  }
</style>

<Layout title="Shiro's Portfolio">
  <HeaderCard />
  <br>
  <TechStack techs={["#Java Script", "#Type Script", "#React", "#Tailwind", "#Redux", "#Next", "#SQL",  "#Astro", "#Python" ]} />
  <br>
  <h3 class="text-center text-2xl text-white font-bold" >Projects</h3>
  <ProjectsBarHome client:load />
  <br>
  
</Layout>


