<div class="
font-roboto text-center
sm:flex sm:items-center sm:gap-5 sm:justify-center sm:text-left
" >
    <div class="w-[100px] h-[100px] rounded-full overflow-hidden mx-auto sm:mx-0 " ><img class="object-cover w-full h-full" src="https://ih1.redbubble.net/image.2488072297.2969/raf,750x1000,075,t,000000:44f0b734a5.u2.jpg" alt="My face!"></div>
    <div>
        <h1 class="text-3xl font-medium text-white" >Frontent Web-Developer</h1>
        <p class="text-xl mt-2" >Hello! My name is Dmitry Makarov i love to have a new challange every day! Read more about me <a class="font-bold hover:underline hover:text-red-100" href="/about_me">here</a> </p>
    </div>
</div>