---
import ProjectsBarProjects from "../../components/ProjectsBarProjects";
import Layout from "../../layouts/Layout.astro";
import { projects } from "../../projects/projects.json"

---

<Layout title="Projects" >
    <p class="font-2xl pl-4 mt-5" >i'm not even sure if i need this page, but there is! My projects are here! Or basically the same thing as you can see on the <a class="font-bold hover:underline hover:text-red-100" href="/">Home</a> page </p>
    <br>
    <br>
    <ProjectsBarProjects />
</Layout>